:root {
  --color_1: #000;
  --color_2: #faf6de;

  --font_0: normal normal normal 22px/1.41em brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
  --font_1: normal normal normal 72px/1.25em brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
}

body {
  font-family: var(--font_0);
}

.darker-bg {
  background-color: rgb(251, 251, 251);
}

.link-button {
  display: inline-block;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  border-radius: 100px;
  padding: 12px 24px;
  transition: color 0.1s ease, background 0.1s ease;

  &:hover {
    background: #333;
    color: #fff;
    transition: color 0.4s ease, background 0.7s ease;
  }
}

section {
  line-height: 1.67em;
  text-align: center;
}

.section-pb {
  padding-bottom: 48px;
}

.spacer {
  line-height: 1.67em;
}

.subhero-text {
  font-size: 28px;
  font-weight: 700;
}

.text-body {
  font-size: 20px;
  max-width: 780px;
  margin: auto;
}

.text-link {
  text-decoration: underline 0.2rem;
  padding: 3px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #333;
  }
}
